.list {
  background-color: #f3f3f3;
  padding: 60px 0;

  .wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1180px;
    padding-right: 10px;
    padding-left: 10px;
  }

  h2 {
    color: #424242;
    letter-spacing: 2px;
    font: 400 36px "Titillium Web";
    text-align: center;
  }

  hr {
    margin-bottom: 40px;
    max-width: 300px;
  }

  &__content {
    overflow: hidden;
  }
}