.list__item {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 50px;
  transition: all .5s ease-in-out;

  &__img--block {
    width: 100%;
    max-width: 25%;
    padding: 10px;

    img {
      width: 100%;
    }
  }

  &__desc--block {
    padding: 0 100px;
    position: relative;

    h3 {
      color: #424242;
      font: 400 20px "Titillium Web";
      margin-bottom: 10px;
    }

    h4, h5 {
      color: #484e3e;
      font: 400 14px "Titillium Web";
      margin-bottom: 15px;
    }

    p {
      color: #5c5c5c;
      font: 400 16px "Titillium Web";
    }
  }

  &__delete--btn {
    position: absolute;
    top: 18px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    
    &:before,
    &:after {
      content: '';
      position: absolute;
      background: #424242;
      height: 1px;
      width: 20px;
      left: 0;
      top: 9px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__edit--btn {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 50px;
    transition: all 0.3s ease-in-out 0s;

    svg {
      pointer-events: none;
    }
  }
}