.modal--overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(49, 18, 29, .7);
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
  overflow-y: auto;
}

.modal--overlay.show {
  visibility: visible;
  opacity: 1;

  .modal--window {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.modal--window {
  width: 100%;
  max-width: 768px;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #f2f2f2;
  letter-spacing: 1px;
  z-index: 9999;
  opacity: 0;
  transform: translate(-50%, -150%);
  transition: all .5s ease-in-out;
  padding: 50px 70px 0;
  color: #4e4e4e;

  &__close {
    position: relative;
    float: right;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: -18px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 9px;
      left: 0;
      width: 20px;
      height: 2px;
      background-color: #4e4e4e;
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }

  .line {
    height: 2px;
    width: 100%;
    margin: 15px 0;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
    }

    &:before {
      top: 0;
      background-color: #d9d9d9;
    }

    &:after {
      bottom: 0;
      background-color: #fafafa;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__sbm--block {
    padding: 30px 0 0;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    input[type='submit'] {
      padding: 15px 50px;
      border-radius: 25px;
      font: 400 18px "Titillium Web";
      color: #ffffff;
      background-color: #e94e38;
      letter-spacing: 1px;
      transition: all .3s ease;
      cursor: pointer;
    }

    input[type='text'] {
      padding: 3px 5px;
      font: 400 16px 'Titillium Web';
    }
  }
}