.filter {
  background: url(../../../public/filter-bg.png) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 30vh;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;

  h2 {
    font: 400 30px "Titillium Web";
    letter-spacing: 2px;
    margin-bottom: 10px;
  }

  input[type='text'] {
    padding: 15px 50px;
    border-radius: 25px;
    background: none;
    font: 400 20px "Titillium Web";
    color: #ffffff;
    border: solid 1px #706f5e;
    letter-spacing: 2px;
    margin-bottom: 20px;

    &::placeholder {
      color: #b3b3b3;
    }
  }

  button {
    padding: 15px 50px;
    border-radius: 25px;
    font: 400 18px "Titillium Web";
    color: #ffffff;
    background-color: #e94e38;
    letter-spacing: 1px;
    transition: all .3s ease;
  }

  .sorter {
    margin-bottom: 20px;

    button {
      padding: 10px 30px;
      background-color: #424242;
    }
  }

  .professions {
    border: solid 1px #ffffff;
    padding: 5px;
    margin-bottom: 20px;

    .disable {
      background-color: inherit;
    }

    button {
      border-radius: 0;
      margin-right: 10px;
      padding: 5px 20px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}